In [41]:
import pandas as pd

title_aka_df = pd.read_csv('zippedData/imdb.title.akas.csv.gz')
title_basics_df = pd.read_csv('zippedData/imdb.title.basics.csv.gz')
title_crews_df = pd.read_csv('zippedData/imdb.title.crew.csv.gz')
title_principals_df = pd.read_csv('zippedData/imdb.title.principals.csv.gz')
title_ratings_df = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')

title_aka_df.shape

(331703, 8)

In [22]:
title_basics_df.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [25]:
merge1_df = title_basics_df.merge(title_aka_df, left_on='tconst', right_on='title_id')
merge1_df.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,1,Sangharsh,IN,hi,NaN,alternative transliteration,0.0
1,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,2,Sunghursh,NaN,NaN,original,NaN,1.0
2,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,3,Sunghursh,IN,NaN,NaN,NaN,0.0
3,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,4,Sunghursh,IN,hi,NaN,alternative transliteration,0.0
4,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,5,Sungharsh,IN,hi,NaN,alternative spelling,0.0

In [29]:
merge2_df = merge1_df.merge(title_crews_df, left_on='tconst', right_on='tconst')
merge2_df.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,title_id,ordering,title,region,language,types,attributes,is_original_title,directors,writers
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,1,Sangharsh,IN,hi,NaN,alternative transliteration,0.0,nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276"
1,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,2,Sunghursh,NaN,NaN,original,NaN,1.0,nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276"
2,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,3,Sunghursh,IN,NaN,NaN,NaN,0.0,nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276"
3,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,4,Sunghursh,IN,hi,NaN,alternative transliteration,0.0,nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276"
4,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,5,Sungharsh,IN,hi,NaN,alternative spelling,0.0,nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276"

In [31]:
merge3_df = merge2_df.merge(title_principals_df, left_on='tconst', right_on='tconst')
merge3_df.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,title_id,ordering_x,title,region,...,types,attributes,is_original_title,directors,writers,ordering_y,nconst,category,job,characters
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,1,Sangharsh,IN,...,NaN,alternative transliteration,0.0,nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",10,nm0006210,composer,NaN,NaN
1,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,1,Sangharsh,IN,...,NaN,alternative transliteration,0.0,nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",1,nm0474801,actor,NaN,"[""Kundan S. Prasad"",""Bajrangi""]"
2,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,1,Sangharsh,IN,...,NaN,alternative transliteration,0.0,nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",2,nm0904537,actress,NaN,"[""Munni"",""Laila-E-Aasmaan""]"
3,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,1,Sangharsh,IN,...,NaN,alternative transliteration,0.0,nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",3,nm0756379,actor,NaN,"[""Ganeshi N. Prasad""]"
4,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,1,Sangharsh,IN,...,NaN,alternative transliteration,0.0,nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",4,nm0474876,actor,NaN,"[""Dwarka N. Prasad""]"

In [40]:
final_merge_df = merge3_df.merge(title_ratings_df, left_on='tconst', right_on='tconst')
final_merge_df.head()
final_merge_df.shape

(2423186, 23)

Notes:
-Not much here yet