In [3]:
import pandas as pd

rt_movie_details_df = pd.read_csv('zippedData/rt.movie_info.tsv.gz', sep='\t')

Changing Box Office values from object to float

In [75]:
rt_movie_details_df.dropna(subset=['box_office'], inplace=True)
rt_movie_details_df['box_office'] = rt_movie_details_df['box_office'].str.replace(',','')
rt_movie_details_df['box_office'] = rt_movie_details_df['box_office'].astype('float')

AttributeError: Can only use .str accessor with string values!

In [103]:
rt_movie_details_df[rt_movie_details_df['main_genre'] == 'Fantasy']

Empty DataFrame
Columns: [id, synopsis, rating, genre, director, writer, theater_date, dvd_date, currency, box_office, runtime, studio, main_genre, genre_list]
Index: []

In [101]:
rt_movie_details_df['genre_list'] = rt_movie_details_df['genre'].str.split('|')
rt_movie_details_df

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio,main_genre,genre_list
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,600000.0,108 minutes,Entertainment One,Drama,"[Drama, Science Fiction and Fantasy]"
6,10,Some cast and crew from NBC's highly acclaimed...,PG-13,Comedy,Jake Kasdan,Mike White,"Jan 11, 2002","Jun 18, 2002",$,41032915.0,82 minutes,Paramount Pictures,Comedy,[Comedy]
7,13,"Stewart Kane, an Irishman living in the Austra...",R,Drama,Ray Lawrence,Raymond Carver|Beatrix Christian,"Apr 27, 2006","Oct 2, 2007",$,224114.0,123 minutes,Sony Pictures Classics,Drama,[Drama]
8,14,"""Love Ranch"" is a bittersweet love story that ...",R,Drama,Taylor Hackford,Mark Jacobson,"Jun 30, 2010","Nov 9, 2010",$,134904.0,117 minutes,NaN,Drama,[Drama]
15,22,Two-time Academy Award Winner Kevin Spacey giv...,R,Comedy|Drama|Mystery and Suspense,George Hickenlooper,Norman Snider,"Dec 17, 2010","Apr 5, 2011",$,1039869.0,108 minutes,ATO Pictures,Comedy,"[Comedy, Drama, Mystery and Suspense]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1541,1980,A band of renegades on the run in outer space ...,PG-13,Action and Adventure|Science Fiction and Fantasy,Joss Whedon,Joss Whedon,"Sep 30, 2005","Dec 20, 2005",$,25335935.0,119 minutes,Universal Pictures,Action and Adventure,"[Action and Adventure, Science Fiction and Fan..."
1542,1981,"Money, Fame and the Knowledge of English. In I...",NR,Comedy|Drama,Gauri Shinde,Gauri Shinde,"Oct 5, 2012","Nov 20, 2012",$,1416189.0,129 minutes,Eros Entertainment,Comedy,"[Comedy, Drama]"
1545,1985,A woman who joins the undead against her will ...,R,Horror|Mystery and Suspense,Sebastian Gutierrez,Sebastian Gutierrez,"Jun 1, 2007","Oct 9, 2007",$,59371.0,98 minutes,IDP Distribution,Horror,"[Horror, Mystery and Suspense]"
1546,1986,Aki Kaurismaki's The Man Without a Past opens ...,PG,Art House and International|Comedy|Drama,NaN,NaN,"Aug 30, 2002","Oct 7, 2003",$,794306.0,97 minutes,NaN,Art House and International,"[Art House and International, Comedy, Drama]"
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,33886034.0,106 minutes,New Line Cinema,Action and Adventure,"[Action and Adventure, Horror, Mystery and Sus..."

In [83]:
def director_genre_dataframe(genre):
    df = rt_movie_details_df[rt_movie_details_df.apply(lambda x: genre in x['genre_list'], axis=1)]
    genre_df = df.groupby('director').mean().sort_values(by='box_office', ascending=False)
    return genre_df

In [97]:
director_genre_dataframe('Animation')

                                         id   box_office
director
Gore Verbinski                         1601  123188232.0
Clay Kaytis|Fergal Reilly               667  107506776.0
Peter Lord|Nick Park                   1418  106604314.0
Conrad Vernon|Greg Tiernan             1890   97661826.0
Steve Oedekerk                         1305   72601713.0
Walt Becker                            1383   66580191.0
Kevin Munroe                            452   54132596.0
Jorge Blanco                            357   42194060.0
Ron Clements|John Musker               1690   38120554.0
Anthony Bell|Ben Gluck|Benjamin Gluck   816   25077977.0
Simon Wells                             482   21379315.0
David Bowers                           1475   19548064.0
Frank Nissen                           1239   18013938.0
Ben Stassen                            1488   13592311.0
Ash Brannon                            1798    9404922.0
Henry Selick|Tim Burton                1180    8616662.0
Robert Ramirez                         1965    2782548.0

In [90]:
def writer_genre_dataframe(genre):
    df = rt_movie_details_df[rt_movie_details_df.apply(lambda x: genre in x['genre_list'], axis=1)]
    genre_df = df.groupby('writer').mean().sort_values(by='box_office', ascending=False)
    return genre_df

In [99]:
writer_genre_dataframe('Science Fiction and Fantasy')

                                                      id   box_office
writer
Peter Jackson|Philippa Boyens|Guillermo del Tor...  1136  303001229.0
Steve Kloves                                        1442  261835892.0
Gene Roddenberry|Alex Kurtzman|Roberto Orci         1255  257704099.0
Josh Friedman|David Koepp                            841  234141872.0
Daniel Harris|Dan Harris|Michael Dougherty|Brya...  1600  214813155.0
Linda Woolverton                                    1295  190871149.0
Mark Frost|Michael France|Carl Johansen              443  154485963.0
Akiva Goldsman|Jeff Vintar                          1935  144738046.0
Eric Roth|Robin Swicord                             1017  127490802.0
Evan Goldberg|Seth Rogen                            1944   98000000.0
Mark Atkins|Mark Andrews|Michael Chabon|Andrew ...  1424   73058679.0
Kevin Munroe                                         452   54132596.0
Michael Crichton|David Koepp|Malia Scotch Marmo     1077   45299680.0
Terry Hayes|Kevin Peterka|Gregg Chabot|Matthew ...   124   42929971.0
Sam Levine|Alex Mann|Ron Clements|John Musker|R...  1690   38120554.0
Dave Callaham|Wesley Strick                          973   28031250.0
Joss Whedon                                         1980   25335935.0
Simon Wells|Wendy Wells                              482   21379315.0
Chris Morgan|Hossein Amini                            25   20518224.0
Timothy Hyde Harris|David Bowers|Timothy Harris     1475   19548064.0
Jeff Maguire|George Nolfi                            755   19375474.0
Stuart Beattie                                       686   15687400.0
Domonic Paris|Dominic Paris                         1488   13592311.0
Todd Farmer                                          626   12610731.0
Tim Burton|Caroline Thompson|Michael McDowell       1180    8616662.0
David Benioff                                       1256    3349167.0
David Cronenberg|Don DeLillo                           3     600000.0
Moira Buffini                                        250      84293.0